header {
    height: 140px;
    width: 100%;
    padding-top: 40px !important;
    position: fixed;
    top: 0;
    z-index: 100000;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1400px;
    margin: 0 auto;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    box-sizing: border-box;
    position: relative;
}

.header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
    display: flex;
    align-items: center;
    font-size: 35px;
}

.header-logo img {
    width: 80px;
    height: auto;
}

.header-logo span {
    font-family: "Playfair Display", serif !important;
}

.header-user {
    display: flex;
    font-size: 13px;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

.header-user > li {
    margin-right: 15px;
}

/* 네비게이션 바 */

.header-cate ul {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.header-cate li:not(:last-of-type) {
    list-style-type: none;
    font-size: 17px;
    margin-right: 50px;
}

.header-cate li:hover {
    color: #ca1a5a;
}

.header-cate .grey {
    color: gray;
}
