@charset "utf-8";

body{
    font-style : Roboto;
    font-size: 14px;
}

.header{
    width: 100%;
    height: 140px;
    background: #191D23;
}

#Mylogo{
    position: relative;
    width :100px;
    left: 40% ; 
    top: 45%
}



/* 모양맞추기 */
.login-wrapper{
  position: absolute;
  padding: 50px;
  width: 450px;
  background-color: #fff;
  border-radius: 5px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -45%);
}

#Enter{
    font-size: 15px;
}

#Welcome{
    color: #64748B;
}

/*로그인 박스*/
.Loging input{
    width:430px;
    height: 30px;
    border-radius:4px;
}

.Loging input:focus{
    border-color: #CA1A5A;
    outline: none;
    
}





#LoginButton{
    color : #CA1A5A;
}


/* 로그인 확인 버튼 */
.Continue input{
    
    color : white;
    background-color: #CA1A5A;
    border-color : white;
    outline: none;
    width:430px;
    height: 40px;
    border-radius:4px;
}

.ChangeButton button{
   background-color : white;
   border: #D0D5DD;
   color : #191D23;

   width: 142px;
   height: 32px;
}


.MainLonin{
   font-size: 14px;
   
}

/*sign*/
.sign{
    display: flex; /*박스*/
    flex-basis: 20%;
    align-items: center;
    color: #4B5768;
    font-size: 14px;
    margin: 8px 0px;

}

/* 선발선 */
.sign::before{
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 25px;
}

/* 후발선 */
.sign::after{
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.5);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 25px;
   
}

.ChangeButton .chg .Clogo{
    margin: 1px;
    
}

/*  체크 표시 */
.check input[type="checkbox"]
{
    display: none;
}

.check input[type="checkbox"] + label{
    display: inline-block;
    position: relative;
    padding-left:30px;
    
    
  
}

.check input[type="checkbox"] + label::before{
    display: inline-block;
    content:'';
    font-size: 20px;
    width: 20px;
    height: 20px;
    line-height:20px;
    text-align: center;
    position: absolute;
    left: 0;
    top:0;
    background-color: white;

}

.check input[type="checkbox"]:checked + label::before{
    content:'✔';
    background-color: #CA1A5A;
    color:white;
}

.Singup{
    text-align: center;
}
.Singup #LoginButton{
    text-decoration-line: none;
}

/* 법 */
.law{
    font-size: 10px;
    text-align: center;
    transform: translate(-5%, 300%);
    
}
