@charset "UTF-8";
/* 기본 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
/* 1.폴더-위치  */
.detailReservation-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.detailReservation-location div {
  padding: 0px 5px;
}
.detailReservation-location :nth-last-of-type(1) {
  color: #ca1a5a;
}
/* 2.헤더 설명  */
.detailResrvation-header h3 {
  color: #ca1a5a;
}
/* 3. 서치 바 */
.detailReservation-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
/* 4. 필터 */
.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px;
}
.dropdown select {
  width: 130px;
  height: 40px;
  border-radius: 5%;
  background-color: #ca1a5a;
  border: 0px;
  color: white;
}

/* 5. 상세 예약 현황 */
.Card-List {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.Card-List div:nth-of-type(1) {
  border: 2px dotted #ec4a85;
}
.Card-List :nth-of-type(1) h3 {
  color: #d92969;
}
.Card {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px dotted #eeeeee;
  margin: 20px;
  border-radius: 10%;
}
.Card img {
  width: 200px;
  margin: 20px;
  border-radius: 5%;
}
.Card h3 {
  text-align: center;
}
.Card p {
  margin: 10px;
}
/* 6. modal 창 */
.modal {
  position: absolute;
  display: none;
  flex-direction: row;
  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 200%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
  position: absolute;
  top: 50%;
  width: 750px;
  height: 400px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
}
.modal-header {
  padding: 3px;
}
.modal-header .title {
  padding-left: 10px;
  display: inline;
  color: black;
  padding-top: 20px;
}
.modal-header .title h2 {
  display: inline;
}
.modal-header .close-area {
  display: inline;
  float: right;
  padding-right: 10px;

  cursor: pointer;
  color: black;
}
.Content {
  display: flex;
  flex-direction: row;
}
.Content img {
  width: 400px;
  margin: 20px;
  border-radius: 5%;
}
.Content div {
  margin-top: 30px;
}
.Content div div {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.Content div div p {
  margin-right: 5px;
}
.Content div div a {
  color: blue;
  font-weight: bold;
}
