body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
.likeList-structure {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.likeList-structure div {
  width: 200px;
}
/*  */
::-webkit-scrollbar {
  display: none;
}
.List-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.List-content p,
h3 {
  color: #ca1a5a;
}
.List-content p {
  font-size: 10px;
}
.List-content h3 {
  font-size: 20px;
}
/* 2. 서치 바 기능 Search-bar */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}
.List-search-bar img {
  width: 20px;
}
/* LikeList-Card */
.LikeList-Card {
  width: 220px;
  border-radius: 5%;
  text-align: left;
  margin: 5px;
}
.LikeList-Card h5 {
  margin: 0px;
}

.LikeList-Card li {
  margin-top: 3px;
  font-size: 11px;
}
.LikeList-Card img {
  width: 200px;
}
.LikeList-Card-List {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
