/* 타이틀 */
.title {
    text-align: left;
    color: #ca1a5a;
}

.title-sub {
    font-size: 17px;
}

.title-main {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0 20px 0;
}

/* 스텝 Bar */
.steps-bar {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
}

.step {
    color: #737373;
    position: relative;
    flex: 1;
    padding: 13px 20px;
    text-align: center;
    background: #f3f3f3;
}

.step::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f3f3f3;
    z-index: 1;
}

.step:not(:last-child)::before {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 2;
}

.step.active::after {
    border-left-color: #000;
}

.step.active {
    background: #000;
    color: #fff;
}

/* 안내멘트 */
.guide {
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.guide-step {
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
}

.guide-addition {
    font-size: 15px;
    font-weight: normal;
    letter-spacing: -0.5px;
    padding-top: 5px;
    padding-left: 13px;
}

/* 카테고리 리스트 */
.category-all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 30px;
    margin: 50px 75px;
}

.category {
    width: 450px;
    height: 480px;
    margin: 0;
    position: relative;
}

.category img {
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 2px 2px 2px rgb(185, 185, 185);
}

.category-text {
    font-size: 40px;
    position: absolute;
    bottom: 45px;
    left: 10%;
}

.category-text2 {
    font-size: 40px;
    position: absolute;
    bottom: 30px;
    left: 10%;
}

.category:nth-of-type(1) {
    color: #fff;
}

.category:nth-of-type(3) {
    color: #442400;
}

/* 다음 단계 버튼 */
.btn {
    text-align: center;
    padding-top: 6px;
    margin-right: 124px;
    margin-bottom: 20px;
    border-radius: 5px;
    float: right;
}

.btn-nxt {
    font-size: 13px;
    font-weight: bold;
    padding: 10px 110px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    justify-content: flex-end;
}

.btn-nxt:hover {
    background-color: #717171;
    border: 1px solid #717171;
}
