.modal {
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 650px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

/* 견적서 css */
.order-container img {
    width: 100%;
    max-width: 500px;
}

.cost-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.amount {
    font-size: 20px;
    color: #ca1a5a;
    font-weight: bold;
}
