.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);   
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 500px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.modal.show {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    pointer-events: auto;
  }